* {
    margin: auto;
    padding-right: 0px;
    padding-left: 0px; 
    background-color: #344;
}

h1 {
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(55, 72, 72);
    padding: 20px;
    color: white;
}

.topnav {
    margin: auto;
    padding-right: 550px;
    padding-left: 580px;
    padding-top: 20px;
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: rgb(55, 72, 72);
    border-radius: 25%;
    color: white;
  }
  
.topnav a.active {
    color: white;

}

footer {
    padding-top: 150px;
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    color: white;
}

.context {
    margin: auto;
    padding-right: 480px;
    padding-left: 480px;
    padding-top: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    color: #f2f2f2;
}

.context-part1 {
    display: block;
    margin: auto;
    flex-direction: column;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    color: #f2f2f2;
}

.context-part2 {
    display: block;
    flex-direction: column;
    padding-right: 250px;
    padding-left: 250px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    color: #f2f2f2;
}

.context-part3 {
    display: block;
    flex-direction: column;
    padding-right: 250px;
    padding-left: 250px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    color: #f2f2f2;
}

.context1 {
    padding-right: 580px;
    padding-left: 580px;
    padding-top: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    color: #f2f2f2;
}


.context2 {
    padding-right: 180px;
    padding-left: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    color: #f2f2f2;
}

.picture {
    display: block;
    padding-top: 100px;
    padding-right: 580px;
    padding-left: 560px;
    border-image: round;
    border-radius: 20%;
}

.vhs {
    display: block;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 250px;
    padding-left: 250px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    color: #f2f2f2;
}

.history {
    display: block;
    flex-direction: column;
    padding-right: 250px;
    padding-left: 250px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-style: normal;
    color: #f2f2f2;
}
